In [1]:
#load the train dataset

In [2]:
#inspect the first few rows of the train dataset

In [3]:
# set the index to passengerId
# set_index()

In [4]:
#by calling the shape attribute of the train dataset we can observe that there are 891 observations and 11 columns
#in the data set

In [28]:
# identify datatypes of the 11 columns, add the stats to the new DataFrame called "Data_stats"
# pd.DataFrame(df.dtypes)

In [7]:
# identify missing values of the 11 columns,add the stats to the "Data_stats"

In [8]:
# Identify number of nunique values, For object nunique will the number of levels
# Add the stats the "Data_stats"

In [9]:
# Identify the count for each variable, add the stats to "Data_stats"

In [10]:
# rename the 0 column  {0:'DataType'}

In [11]:
# get discripte statistcs on "object" datatypes

In [12]:
# get discriptive statistcs on "number" datatypes

In [13]:
# train.Survived.value_counts(normalize=True)
# train["Survived"].value_counts(normalize=True)

In [15]:
# Feature Engineering Data- Extract title from name, Extract new features from the other features
# train['Name_len']

In [16]:
# we see that there are 15 Zero values and its reasonbale 
# to flag them as missing values since every ticket 
# should have a value greater than 0
# check if coloumn "Fare" has zero values or not 
# df["Fare"] == 0

In [17]:
# mark zero values as  NaN
# df["Fare"].replace({0 : np.nan})

In [18]:
# Check again to see if there are no more zero values in column "Fare"

In [21]:
# Get the mean of the data in col "Fare"

In [22]:
# impute the missing Fare values with the mean Fare value

In [23]:
# validate if any null values are present after the imputation

In [ ]:
# we see that there are 0 Zero values in col "Age"

In [24]:
# impute the missing Age values with the mean Age value

In [25]:
# validate if any null values are present after the imputation

In [27]:
# We see that a majority 77% of the Cabin variable has missing values.
# Hence will drop the column from training a machine learnign algorithem
# How to check the ratio of the missing data in col "Cabin"