In [1]:
# Functions 
# scope 
# file handling 
# module

In [2]:
lst = [1,2,3,4,5]
sum(lst)

15

In [3]:
min(lst)

1

In [4]:
max(lst)

5

In [5]:
print(lst)

[1, 2, 3, 4, 5]

In [18]:
def say_hello(name):
    return f"hello {name}"

In [19]:
result = say_hello("amit")

In [20]:
result

'hello amit'

In [31]:
def add(*num):
    s = 0
    for i in num:
        s = s +  i 
    return s

In [32]:
add(12,12 )

24

In [33]:
add(1,2,3)

6

In [34]:
add(1,2,3,4,5,6,7,8,9,10)

55

In [35]:
def add(*num):
    return sum(num)

In [37]:
add(1,2,3,4,5,6,7,8,9,10 , 12)

67

In [39]:
def check(n):
    if n % 2 == 0:
        return f"{n} is Even"
    else:
        return f"{n} is Odd"


x = int(input("enter your num: "))
check(x)

enter your num: 12

'12 is Even'

In [40]:
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?`~ "
def check_var(var_name):
    clean_txt = ''
    for i in var_name:
        if i in illegal_chars:
            continue
        else:
            clean_txt += i 
    return clean_txt
   
userinput = input("Enter a variable name: ")

Enter a variable name: @name @#$

In [41]:
check_var(userinput)

'name'

In [42]:
fun = lambda x : x * 2

In [43]:
fun(10)

20

In [44]:
def fun(n):
    return n * 2

In [45]:
fun(10)

20

In [46]:
# list(map(fun , seq))
lst = [2,3,4,5,6,7,5,4,3,2]
list(map(lambda x : x * 2  , lst))

[4, 6, 8, 10, 12, 14, 10, 8, 6, 4]

In [47]:
# list(filter(fun , seq))
def check(num):
    if num % 2 == 0 :
        return True 
    else:
        return False
list(filter(check , lst))

[2, 4, 6, 4, 2]

In [49]:
list(filter(lambda x : x % 2 == 0  , lst))

[2, 4, 6, 4, 2]

In [48]:
# list(filter(fun , seq))
def check(num):
    if num % 2 != 0 :
        return True 
    else:
        return False
list(filter(check , lst))

[3, 5, 7, 5, 3]

In [50]:
list(filter(lambda x : x % 2 != 0  , lst))

[3, 5, 7, 5, 3]

In [51]:
lst

[2, 3, 4, 5, 6, 7, 5, 4, 3, 2]

In [52]:
def check(num):
    if num % 2 == 0 :
        return f"{num} is Even"
    else:
        return f"{num} is Odd"
    
list(map(check , lst))

['2 is Even',
 '3 is Odd',
 '4 is Even',
 '5 is Odd',
 '6 is Even',
 '7 is Odd',
 '5 is Odd',
 '4 is Even',
 '3 is Odd',
 '2 is Even']

In [54]:
list(map(lambda x: f"{x} is Even" if x % 2 ==0 else f"{x} is Odd"   , lst) )

['2 is Even',
 '3 is Odd',
 '4 is Even',
 '5 is Odd',
 '6 is Even',
 '7 is Odd',
 '5 is Odd',
 '4 is Even',
 '3 is Odd',
 '2 is Even']

In [55]:
# !5 = 5 * 4 * 3 * 2 * 1
def f(n):
    if n >=1 :
        if n == 1 :
            return 1 
        else:
            return n * f(n - 1)    # 5 * (4 * (3 * (2 *(1))))

In [56]:
f(5)

120

In [57]:
f(1)

1

In [58]:
f(-10)

In [59]:
# print()
# len()
# sum()
# max()
# min()
# ..
# ...
# .
# def fun_name():
#     .
#     ....
#     ..
#     .
#     .
#     .
#     return sdfghjds
# lambda x , y : y * x 
# map(fun , seq)
# filter(fun , seq)

In [83]:
x = "Global"
def outer():
    global y
    y  = "local"
    print(y)
    m = "amit"
outer()
print(x)

local
Global

In [85]:
y

'local'

In [86]:
m

NameError: name 'm' is not defined

In [61]:
x = "Global"
def outer():
    global x 
    x = "local"
    print(x)
outer()
print(x)

local
local

In [95]:
x = "Global"
def outer():
    x = "local"
    def inner():
        x = "inner"
        print(x)
        
    inner()
    print(x)
outer()
print(x)

inner
local
Global

In [63]:
x = "Global"
def outer():
    x = "local"
    def inner():
        nonlocal x 
        x = "inner"
        print(x)
    inner()
    print(x)
outer()
print(x)

inner
inner
Global

In [73]:
x = "Global"
def outer():
    x = "local"
    def inner():
        global x 
        x = "inner"
        print(x)
    inner()
    print(x)
outer()
print(x)

inner
local
inner

In [71]:
print(x)

inner

In [109]:
# import modulename
# import modulename as md 
# from modulename import add , mul
# from modulename import * 
import random as rm
rm.random()

0.8137030498186418

In [110]:
# from random import *

In [111]:
# random()

In [119]:
rm.randint(0 , 10)  # return >> start : end

0

In [122]:
rm.randrange(0 , 10 ) # return >> start : end-1

4

In [124]:
# dir(rm)

In [125]:
import module as md

In [126]:
dir(md)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'even',
 'mul',
 'odd']

In [127]:
md.even([1,2,3,4,5,4,3,2])

[2, 4, 4, 2]

In [128]:
md.odd([1,2,3,4,5,4,3,2])

[1, 3, 5, 3]

In [129]:
md.add(1,2,3,4,5)

15

In [130]:
md.mul(2,3,4)

24

In [131]:
import numpy as np

In [133]:
# dir(np)

In [146]:
# lal   >> True     lal
# lala  >> False    alal
x = "lala"
x[ : : -1]

'alal'

In [147]:
def fun():
    pass

In [150]:
for i in lst :
    pass

In [152]:
if 5 == 5 :
    pass

In [153]:
class Cars:
    pass

In [154]:
def check_str(word):
    if word == word[: : -1]:
        return True 
    else:
        return False

In [157]:
check_str(input("Enter your word: "))

Enter your word: laal

True

In [158]:
lst = ["amit" , "learning" , "deep" , "machine" , "mohamed" ]
def check_len(l):
    for i in l:
        print(f"The length of {i} is {len(i)} ")

In [159]:
check_len(lst)

The length of amit is 4
The length of learning is 8
The length of deep is 4
The length of machine is 7
The length of mohamed is 7

In [160]:
def max_len(l):
    max_l = -1
    word = ""
    for i in l:
        if len(i) >= max_l:  # len(amit) 4 > -1 >> max_l = 4 , word = "amit" /// i= learning 8 > 4 >>
            max_l = len(i)            # max_l = 8 , word = learning 
            word = i
    return f"max length is {max_l} \nword is {word}"

In [162]:
print(max_len(lst))

max length is 8
word is learning

In [165]:
max(lst)

'mohamed'

In [166]:
# max( len(i)  for i in lst)

8

In [169]:
[(len(i) , i ) for i in lst]

[(4, 'amit'), (8, 'learning'), (4, 'deep'), (7, 'machine'), (7, 'mohamed')]

In [176]:
lst = [(10,20,30,12) , (20,30) , (40,50,60)]
# [(10,20,100) , (20,30,100) , (40,50,100)]
[i[:-1]+ (100,) for i in lst]

[(10, 20, 30, 100), (20, 100), (40, 50, 100)]

In [174]:
t = (10,20,30,12)
t[0:-1]

(10, 20, 30)

In [177]:
lst = [1,2,3,4,5]

In [178]:
lst

[1, 2, 3, 4, 5]

In [179]:
lst.remove(5)

In [180]:
lst

[1, 2, 3, 4]

In [182]:
lst.remove(7)
print("hamada")

ValueError: list.remove(x): x not in list

In [192]:
try:
    lst.remove(2)
except:
    print("x not in list")
else:
    print("Good")
finally:
    print("try and except Done")

x not in list
try and except Done

In [194]:
# function 
# scope global nonlocal
# lambda 
# fiter() 
# map() 
# try:
# except:

In [195]:
fun = lambda x ,y , z : x * y * z

In [196]:
fun(1,2,3)

6

In [200]:
list(map(lambda x: x if x % 2 == 0 else 0 , [1,1,2,3,4,6]))

[0, 0, 2, 0, 4, 6]

In [201]:
list(filter( lambda x : x % 2 ==0  , [1,1,2,3,4,6]))

[2, 4, 6]

In [202]:
def check(n):
    if n % 2 ==0:
        return True 
    else:
        False

In [203]:
list(filter( check , [1,1,2,3,4,6]))

[2, 4, 6]