In [2]:
class Students:
    def __init__(self , name , age):
        #instance attributes
        self.name = name
        self.age = age 
    
    #instance method
    def show(self):
        print(f"Student name: {self.name}")
        print(f"Student age: {self.age}")

In [5]:
s1 = Students("Mohamed" , 25)
s2 = Students("Ahmed" , 23)

In [6]:
s1.name

'Mohamed'

In [7]:
s1.show()

Student name: Mohamed
Student age: 25

In [8]:
s2.name

'Ahmed'

In [9]:
s2.show()

Student name: Ahmed
Student age: 23

In [27]:
class Students:
    #class attribute 
    counter = 0
    def __init__(self , name , age):
        #instance attributes
        self.name = name
        self.age = age 
        Students.counter +=1
    
    #instance method
    def show(self):
        print(f"Student name: {self.name}")
        print(f"Student age: {self.age}")
    
    @classmethod
    def nstudent(cls):
        print(f"Number of students is: {cls.counter}")
        
    @staticmethod
    def add(*n):
        return sum(n)

In [28]:
s1 = Students("Mohamed" , 25)
s2 = Students("Ahmed" , 23)
s3 = Students("abdo" , 24)

In [29]:
s1.name

'Mohamed'

In [30]:
s1.show()

Student name: Mohamed
Student age: 25

In [31]:
s2.name

'Ahmed'

In [32]:
s2.show()

Student name: Ahmed
Student age: 23

In [33]:
s2.nstudent()

Number of students is: 3

In [34]:
Students.nstudent()

Number of students is: 3

In [35]:
s2.add(9,8,9,10)

36

In [39]:
class Students:
    def __init__(self , name , age):
        #instance attributes
        self.__name = name
        self.__age = age 
    
    #instance method
    def show(self):
        print(f"Student name: {self.__name}")
        print(f"Student age: {self.__age}")

In [40]:
s1 = Students("Mohamed" , 25)
s2 = Students("Ahmed" , 23)

In [46]:
s1.name = "mo"

In [47]:
s1.show()

Student name: Mohamed
Student age: 25

In [52]:
try:
    s2.name
except Exception as e :
    print("The error:",e)

The error: 'Students' object has no attribute 'name'

In [50]:
s2.show()

Student name: Ahmed
Student age: 23

In [54]:
s2._Students__name = "A7med"

In [55]:
s2.show()

Student name: A7med
Student age: 23

In [56]:
x = [1,2,3]
y = "amit"
len(x)

3

In [57]:
len(y)

4

In [58]:
class Person:
    def __init__(self , name , age):
        self.name = name
        self.age = age
    def show(self):
        print("Person name:",self.name)
        print("Person age :",self.age)

In [59]:
p1 = Person("Ahmed" , 30)

In [60]:
p1.show()

Person name: Ahmed
Person age : 30

In [86]:
class Student(Person):
    def __init__(self,name  , age , grades):
        Person.__init__(self,name , age)
        self.grades = grades
    def show(self):
        print("Student name:",self.name)
        print("Student age :",self.age)
        for i in self.grades:
            print(f"Student grades: {i}")

In [88]:
s1 = Student("Mo" , 20  ,[23,24,25])

In [89]:
s1.show()

Student name: Mo
Student age : 20
Student grades: 23
Student grades: 24
Student grades: 25

In [75]:
p1.show()

Person name: Ahmed
Person age : 30

In [116]:
class ShoppingCart:
    def __init__(self):
        self.items = []    #[("orange" , 50) , ("apple" , 60) , , , , , ]
    def add_item(self , item , price):
        self.items.append((item , price))
        print("Done!  ... ")
    def remove_item(self ,item):
        for i in self.items:
            if i[0] == item:
                self.items.remove(i)
                print("Done!!")
    def total_price(self):
        total = 0
        for i in self.items:
            total += i[1]
        print(f"Total price:{total} ")

In [117]:
p1 = ShoppingCart()

In [118]:
p1.add_item("orange" , 50)

Done!  ...

In [119]:
p1.items

[('orange', 50)]

In [120]:
p1.add_item("Apple" , 60)

Done!  ...

In [121]:
p1.items

[('orange', 50), ('Apple', 60)]

In [122]:
# p1.remove_item("orange")

In [123]:
p1.items

[('orange', 50), ('Apple', 60)]

In [124]:
p1.total_price()

Total price:110

# Magic method

In [129]:
class Employee:
    def __init__(self , fname , lname , salary = 0):
        self.fname = fname
        self.lname = lname
        self.salary= salary

In [130]:
Ahmed = Employee("Ahmed" , "Salem" , 10000)

In [132]:
print(Ahmed)

<__main__.Employee object at 0x000001D6815646A0>

In [133]:
str(Ahmed)

'<__main__.Employee object at 0x000001D6815646A0>'

In [205]:
class Employee:
    def __init__(self , fname , lname , salary = 0):
        self.fname = fname
        self.lname = lname
        self.salary= salary
    def __str__(self):
        return f"Full name: {self.fname} {self.lname} "
    def __len__(self):
        return len(self.fname + self.lname)
    def __int__(self):
        return self.salary
    def __eq__(self , other):
        return self.salary == other.salary
    def __gt__(self , other):
        return self.salary > other.salary
    def __le__(self,other):
        return self.salary <= other.salary

In [206]:
Ahmed  = Employee("Ahmed" , "Salem" , 10000)
Mohamed= Employee("Mohamed" , "Sayed" , 11000)

In [207]:
print(Ahmed)

Full name: Ahmed Salem

In [208]:
str(Ahmed)

'Full name: Ahmed Salem '

In [209]:
len(Ahmed)

10

In [210]:
print(Mohamed)

Full name: Mohamed Sayed

In [211]:
str(Mohamed)

'Full name: Mohamed Sayed '

In [212]:
len(Mohamed)

12

In [213]:
int(Ahmed)

10000

In [214]:
int(Mohamed)

11000

In [215]:
print(Ahmed == Mohamed)

False

In [216]:
Mohamed.salary = 10000

In [217]:
10000 == 10000

True

In [218]:
print(Ahmed == Mohamed)

True

In [219]:
print(Ahmed > Mohamed)

False

In [220]:
print(Ahmed <= Mohamed)

True

In [260]:
class MyList:
    def __init__(self):
        self.lst = []
    def append(self , num):
        self.lst.append(num)
    def __getitem__(self , index):
        return self.lst[index]
    def __setitem__(self , index , value):
        self.lst[index] = value
    def __len__(self):
        return len(self.lst)

In [261]:
l1 = MyList()

In [262]:
l1.append(12)
l1.append(10)
l1.append(2)
l1.append(5)

In [263]:
l1[1]

10

In [266]:
l1[0] = 100
l1[0]

100

In [267]:
len(l1)

4

In [ ]:
# class Bank
#             username
#             balance 
#     deposit(self , money)
#         self.balance += money
        
#     withdraw(self , money)
        
    
#     get_balance(self)

# p1 >> (uname , 15000)
# p2 >> (uname , 10000)
# p3 >> (uname , 45000)
# p1.deposit(2000)

In [ ]:
init(self)
    self.accounts = []
# create_account(username , password)  >> if username exist >> account 
#                                         else :  username : and password   balance=0
#                                             [{"username":username , "password": password , balance =0 },
#                                             {"username":username , "password": password , balance =0 }]
# login(username, password) >> if i["username"] == username and i["password"]== password >>
#                                                                                     1>> deposit  (money)
#                                                                                     2>> withdraw (money)
#                                                                                     3>> check_balance()
#                                                                                     4>> cancel
# 1>>Create_new_acc
#     input("Enter your username")
#     input("Enter your password")    
# 2>>Login
#     input("Enter your username")
#     input("Enter your password")
# 3>>Cancel

In [268]:
# def menu():
#     print("1. Create_new_acc")
#     print("2. Login")
#     print("3. Cancel")
#     option = int(input("Enter your option: "))
#     return option

In [269]:
# while True :
#     option = menu()
#     if option == 1 :
#         username = input("Enter your username")
#         password = input("Enter your password")
#         CIB.create_account(username ,password )
#     elif option == 2:
#         username = input("Enter your username")
#         password = input("Enter your password")
#         CIB.login(username ,password )
#     elif option == 3 :
#         print("Thanks for using CIB")
#         break
#     else:
#         print("Check your option!!!")

1. Create_new_acc
2. Login
3. Cancel
Enter your option: 5
Check your option!!!
1. Create_new_acc
2. Login
3. Cancel
Enter your option: 10
Check your option!!!
1. Create_new_acc
2. Login
3. Cancel
Enter your option: 3
Thanks for using CIB

In [285]:
class Bank:
    def __init__(self , bname):
        self.bname = bname
        self.accounts = []
    def menu(self):
        print("Please Enter a process number: ")
        print("1 >> Deposit" )
        print("2 >> Withdraw")
        print("3 >> Check_balance")
        print("4 >> Cancel")

    def create_new(self , username , password):
        for user in self.accounts:
            if user["username"]== username:
                print("The username already exists....try to login!")
        self.accounts.append({"username":username , "password":password , "balance":0})
        self.login(username , password)
        
    def login(self , username , password):
        for user in self.accounts:
            if user["username"]== username and user["password"] == password:
                print(f"\nWelcome, {user['username']}")
                while True:
                    self.menu()
                    option = int(input())
                    if option == 1 :
                        money = int(input("Enter your money: "))
                        self.deposit(user , money)
                    elif option == 2 :
                        money = int(input("Enter your money: "))
                        self.withdraw(user , money)
                    elif option == 3 :
                        self.get_balance(user)
                    elif option == 4 :
                        print(f"Thanks for using {self.bname}")
                        break
                    else:
                        print("Invalid Option! Please Try again")
                return self.accounts
        print("Incorrect username or password")
    
    
    def get_balance(self , user):
        print(f"Your Current Balance is: {user['balance']}")
    
    def deposit(self , user , money):
        if money >= 0 :
            user["balance"] += money
            print("Your money has been deposited")
            print(f"Your Current Balance is:{user['balance']}")
        else:
            print("check your money")
    
    def withdraw(self , user , money):
        if money <= user["balance"]:
            user["balance"] -= money
            print("Done!!")
            print(f"Your Current Balance is:{user['balance']}")
        else:
            print("You dont have enough money ")
            print(f"Your Current Balance is:{user['balance']}")

In [286]:
CIB = Bank("CIB")

In [289]:
def menu():
    print("1 >> Create_new_acc")
    print("2 >> Login")
    print("3 >> Cancel")

In [290]:
while True :
    menu()
    option = int(input("Enter your option: "))
    if option == 1 :
        username = input("Enter your username")
        password = input("Enter your password")
        CIB.create_new(username ,password )
    elif option == 2:
        username = input("Enter your username")
        password = input("Enter your password")
        CIB.login(username ,password )
    elif option == 3 :
        print("Thanks for using CIB")
        break
    else:
        print("Check your option!!!")

1 >> Create_new_acc
2 >> Login
3 >> Cancel
Enter your option: 1
Enter your usernameahmed
Enter your password123

Welcome, ahmed
Please Enter a process number:
1 >> Deposit
2 >> Withdraw
3 >> Check_balance
4 >> Cancel
1
Enter your money: 1000
Your money has been deposited
Your Current Balance is:1000
Please Enter a process number:
1 >> Deposit
2 >> Withdraw
3 >> Check_balance
4 >> Cancel
6
Invalid Option! Please Try again
Please Enter a process number:
1 >> Deposit
2 >> Withdraw
3 >> Check_balance
4 >> Cancel
4
Thanks for using CIB
1 >> Create_new_acc
2 >> Login
3 >> Cancel
Enter your option: 3
Thanks for using CIB