In [1]:
# function 
# scope 
# lambda 
# filter(fun , seq)
# map(fun , seq)
# try:
#     print(x)
# except:
#     print("")
# else:
    
# finally:

In [2]:
# file handling .txt

# OOP

In [3]:
print(x)

NameError: name 'x' is not defined

In [4]:
print(10/0)

ZeroDivisionError: division by zero

In [6]:
print(10/x)

NameError: name 'x' is not defined

In [7]:
lst = [1,2,3,4]
lst.remove(5)

ValueError: list.remove(x): x not in list

In [8]:
try:
    print(x)
except Exception as e :
    print("the error: " , e )

the error:  name 'x' is not defined

In [9]:
try:
    print(10/0)
except Exception as e :
    print("the error: " , e )

the error:  division by zero

In [10]:
try:
    lst = [1,2,3,4]
    lst.remove(5)
except Exception as e :
    print("the error: " , e )

the error:  list.remove(x): x not in list

In [14]:
f = open("test.txt" , "x")  #mode >> "r" or "w" or "a"  or "x" or "r+"

In [18]:
f = open("test.txt" , "r")

In [19]:
f.read()

'my name is amit and my age is 10.'

In [21]:
f.write("hello")

UnsupportedOperation: not writable

In [26]:
f = open("test3.txt" , "w")

In [27]:
f.write("helloooooo, test3")

17

In [28]:
f.close()

In [29]:
f = open("test2.txt" , "a")

In [30]:
f.write(" Amit")

5

In [31]:
f.close()

In [32]:
f = open("test2.txt" , "r+")

In [33]:
f.read()

'helloooooo Amit'

In [34]:
f.write(" welcome")

8

In [35]:
f.close()

In [53]:
with open("test2.txt" , "r+" ,encoding="utf-8" ) as f :
    print(f.read().split())

['helloooooo', 'Amit', 'welcome', 'اهلا', 'وسهلا', 'اميت', 'my', 'name', 'is', 'amitmy', 'name', 'is', 'amitmy', 'name', 'is', 'amitmy', 'name', 'is', 'amit']

In [48]:
with open("test2.txt" , "r+" ,encoding="utf-8" ) as f :
    print(f.readlines())

['helloooooo Amit welcome\n', 'اهلا وسهلا اميت ']

In [57]:
'helloooooo Amit welcome'.split()

['helloooooo', 'Amit', 'welcome']

In [58]:
# ['helloooooo Amit welcome\n', 'اهلا وسهلا اميت '].split()

In [59]:
# OOP

In [62]:
# create class
class ClassName: 
    pass

In [63]:
# create object
object_name = ClassName()

In [64]:
isinstance(object_name ,ClassName)

True

In [166]:
class Cars:
    #class attribute
    counter = 0  
    def __init__(self , name , age , color , speed):
        #instance attribute 
        self.name  = name 
        self.age   = age
        self.color = color
        self.speed = speed
        Cars.counter += 1  
    #instance method
    def show(self):
        print(f"Name  :{self.name}")
        print(f"Age   :{self.age}")
        print(f"Color :{self.color}")
        print(f"Speed :{self.speed}")
    
    #class method 
    @classmethod
    def n_cars(cls):
        print(f"Number of cars is: {cls.counter}")
        
    #static method
    @staticmethod
    def time(distance , speed):
        return f"Time: {distance/speed}"

In [167]:
BMW = Cars("BMW" , 3 , "black" , 250)

In [168]:
FIAT = Cars("FIAT" , 10 , "blue" , 150)
FIAT.show()

Name  :FIAT
Age   :10
Color :blue
Speed :150

In [169]:
print(FIAT.name)
print(BMW.name)

FIAT
BMW

In [170]:
BMW.show()

Name  :BMW
Age   :3
Color :black
Speed :250

In [171]:
FIAT.show()

Name  :FIAT
Age   :10
Color :blue
Speed :150

In [172]:
Cars.n_cars()

Number of cars is: 2

In [173]:
BMW.n_cars()

Number of cars is: 2

In [174]:
FIAT.n_cars()

Number of cars is: 2

In [175]:
Cars.time(1000 , 250)

'Time: 4.0'

In [177]:
BMW.time(1000 , 350)

'Time: 2.857142857142857'

In [178]:
# Students 
#     #instance attribute 
# >>  name
#     age
#     n_courses
#     grades
#     #instance method
# >>  display(self)
#     @classmethod
# >>  n_students
#     @staticmethod
# >>  summ(*grades):
#         return sum(grades)

In [203]:
class Cars:
    #class attribute
    counter = 0  
    def __init__(self , name , age , color , speed):
        #instance attribute 
        self.__name1  = name 
        self.__age1   = age
        self.__color1 = color
        self.__speed1 = speed
        Cars.counter += 1  
    #instance method
    def show(self):
        print(f"Name  :{self.__name1}")
        print(f"Age   :{self.__age1}")
        print(f"Color :{self.__color1}")
        print(f"Speed :{self.__speed1}")
    
    #class method 
    @classmethod
    def n_cars(cls):
        print(f"Number of cars is: {cls.counter}")
        
    #static method
    @staticmethod
    def time(distance , speed):
        return f"Time: {distance/speed}"

In [204]:
BMW = Cars("BMW" , 3 , "black" , 250)

In [205]:
FIAT = Cars("FIAT" , 10 , "blue" , 150)
FIAT.show()

Name  :FIAT
Age   :10
Color :blue
Speed :150

In [206]:
print(FIAT.__name)
print(BMW.__name)

AttributeError: 'Cars' object has no attribute '__name'

In [194]:
FIAT.age = 30

In [195]:
FIAT.age

30

In [196]:
FIAT.show()

Name  :FIAT
Age   :10
Color :blue
Speed :150

In [212]:
# FIAT._Cars__age1 = 12

In [214]:
# FIAT.show()

In [215]:
class ShoppingCart:
    pass

In [217]:
person1 = ShoppingCart()
person2 = ShoppingCart()
person3 = ShoppingCart()

In [ ]:
person1.add_item("orange" , 10)
person1.add_item("apple" , 50)>>> [("orange" , 10) , ("apple" , 50) .......].append(("apple" , 50))
person1.remove("orange")  >> [("apple" , 50) .......]
person1.total_price() >> total price is 50....
person1.show() >> item : apple  price : 50 
                  item : .....  price : ...

In [228]:
import numpy as np
x = np.array([6,-1,2,3] , order="C" , ndmin=2 , dtype = float)
print(x.flags)

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False

In [229]:
x

array([[ 6., -1.,  2.,  3.]])

In [244]:
x = np.empty([3,2], dtype=int , order = "f")
x

array([[3211315, 6029370],
       [6029361, 7536725],
       [4390971, 7471205]])

In [247]:
s = 'HelloWorld'
a = np.frombuffer(s, dtype=str)
a

ValueError: itemsize cannot be zero in type

In [253]:
np.frombuffer("amit" , dtype= "S")

ValueError: itemsize cannot be zero in type